.launches-table-container {
    margin: 0.5% 10% 0.5% 10%;
}

table, th, td {
    border: 1px solid;
    table-layout: fixed;
}

.table-header {
    background-color: #0a2351;
    color: white;
}

.sort-label {
    padding-left: 80%;
    padding-bottom: 1%;
}

.link-box {
    position:absolute;
    right: 0px;
    z-index: 9999;
    display: block;
    border: 1.5px solid;
    background: #F0F8FF;
    margin-right: 80%;
    min-width: 150px;
}

.link-box-title {
    text-decoration: underline;
}